<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="root">

        <!--barra di inserimento task-->
        <div class="barContainer d-flex justify-content-center pt-4">
            <input type="text" placeholder="What do we do today?" v-model="newTask" @keyup.enter="addNewTask">
            <button class="btn btn-primary mx-2" @click="addNewTask">Insert Task</button>
        </div>

        <!--visualizza tabella task da fare-->
        <div class="container">
            <ul class="list-group list-group-flush">
                <li v-for="(element, index) in task" :key='index'
                    class="list-group-item d-flex justify-content-between align-items-center">
                <!--task-->
                    <span @click = "completedOrNot(element, index)">{{element.text}}</span>
                <!--X rossa-->
                    <div class="text-danger" @click="removeElement(element, index)">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </div>

                </li>
            </ul>
        </div>

        <!--visualizza tabella task completati-->
        <div class="container completedTaskContainer mt-4 ">
            <ul class="list-group list-group-flush" v-if="completedTask.length > 0">
                <li v-for="(element, index) in completedTask" :key='index'
                    class="list-group-item d-flex justify-content-between align-items-center text-decoration-line-through" @click = "completedOrNot(element, index)">
                    {{element.text}}
                </li>
            </ul>
            <h3 v-else>It appears you have nothing to do</h3>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="./main.js"></script>
</body>

</html>